---
import PostHog from '../components/posthog.astro';
import Tracking from '../components/tracking.astro';
---
<html>
  <head>
    <PostHog />
  </head>
  <body>
    <slot />
    <Tracking />
  </body>
</html>